{% extends 'base.html' %}

{%block title%} Registraion{% endblock %}


{% block content%}

<body class="p-3 mb-2 bg-dark-subtle text-emphasis-dark">
  <div class="container mt-5 w-39 p-3 mb-2 bg-primary-subtle text-emphasis-primary border border-secondary"style="width: 50%; height:620px; background-color: grey; ">
      <h3 class=" ">Registration Form</h3><br>
      <div class="row">
          <div class="">
              <form class="" action="" method='POST'>
                  {% csrf_token %}
                  <label  for="a1">Name</label>
                  <label for="a5"></label>
                   
                  <input name='name' id="a1" type="text" class="form-control" >
                  
                  <label class="mr-5" for="a5">Age</label>
                  <input name='age'  class="form-control" type="number">
                  
                  <label for="a2">Email</label>
                  <input name='email' class="form-control"  type=" email">
                  
                  <label for="a3">Phone</label>
                  <input name='phone' class="form-control"  id="a3" type="number">
                  <div class="mb-3">
                      <label for="exampleFormControlTextarea1" class="form-label">Address</label>
                      <textarea name='address' class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      
                    </div>
                  <label for="">Education</label>
                  <div class="form-check-inline">
                      <input name='education' class="form-check-input" type="checkbox" value="Under Graduation" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Under Graduation
                      </label>
                   
                      <input name='education' class="form-check-input" type="checkbox" value="Post graduation" id="flexCheckDefault2">
                      <label class="form-check-label" for="flexCheckDefault2">
                        Post Graduation
                      </label>
                  </div>
                  <br>
                  <br>
                  
                   
                  <!-- <label for="a4">Place</label> -->
                  <select name="place" id="a4" class="form-control" >
                      <option value="">Select Place </option>
                      <option value="Wayanad">Wayanad</option>
                      <option value="Kozhikode">Kozhikode</option>
                  </select>
                  <br>
                  <div class="text-center"> <Button class="btn btn-primary ">Register</Button>
                  </div>
                  
                   
      
      
              </form>
          </div>
          {% comment %} <div class="col-5">
              <img style="height: 500px; width: 290px;" src="./Image/pexels-photo-1252890.jpeg" alt="">
          </div> {% endcomment %}
       
      </div>
  </div>
  

{% endblock %}